[submodule "LeagueSharpLoader"]
	path = LeagueSharpLoader
	url = https://github.com/bot-dev/LeagueSharpLoader
[submodule "VoliBotCSharp"]
	path = VoliBotCSharp
	url = https://github.com/bot-dev/VoliBotCSharp
[submodule ".\\VolibBotCSharp"]
	path = .\\VolibBotCSharp
	url = https://github.com/bot-dev/VoliBotCSharp
